name: Publish Test results

on:
  workflow_run:
    workflows: ["Playwright PR tests"]
    types: 
      - completed

jobs:
  deploy-report:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Download Report artifact
        uses: actions/download-artifact@v4
        with:
          name: playwright-artifacts
          with: playwright-artifacts
      
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v7
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./playwright-artifacts/playwright-report 
